@import './antd.less';
@import './variable/index.less';
@import './public.less';
@import './scroll-bar.less';

@font-face {
  font-family: "Calibri-Light";
  src: url("../assets/Calibri-Light.ttf");
  // src: url("../assets/Roboto-Light-10.ttf");
}

// CSS resets
* {
  padding: 0;
  margin: 0;
  font-family: 'Calibri-Light';
}

ul,li {
  list-style: none;
}

p {
  margin: 0!important;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

html {
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  &.color-weak {
    filter: invert(80%);
  }

  &.gray-mode {
    filter: grayscale(100%);
    filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
  }
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Calibri-Light' !important;
  font-size: 14px;
  color: #222;
}

img {
  width: 100%;
  height: 100%;
  max-width: none;
  border-style: none;
}

pre {
  font-family: 'Calibri-Light';
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clear-fix {
  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.flex-center-h {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between-h {
  display: flex;
  justify-content: space-between;
}

.layout-self-header {
  height: 100px;
  background-color: #fff;
  padding: 20px 20px 0;
  .layout-self-header-title {
    margin: 0px,
  }
  // border: 1px solid red;
}
.layout-self-content {
  height: calc(100vh - 100px);
  overflow-y: auto;
  padding: 0 20px;
  // border: 1px solid red;
}